* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #cd202d;
}

.container {
    background-color:  #1b1b1b;
    width: min(90%, 500px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4em 2em;
    border-radius: .5em;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

.section-container {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.btn {
    padding: 1em 2em;
    border-radius: .5em;
    background-color: #3e3f43;
    color: #a9a7a7;
}

.btn-focus {
    background-color: #cb202d;
    color: #ffffff;
}

.time-btn-container {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

#time {
    text-align: center;
    color: #ffffff;
    font-size: 5em;
    font-weight: 600;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 2em;
}

#btn-start,
#btn-pause {
    padding: 1em 2em;
    border-radius: .5em;
    cursor: pointer;
    background-color: #ffffff;
}

#btn-reset {
    background-color: transparent;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 2em;
}

.hide {
    display: none;
}

.show {
    display: block;
}